
.label {
    font-size: 18px;
    font-weight: bold;
    color: #0076b6;
    margin-left:450px ;
    
}

.input-field {
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 200px;
    margin: 5px 10px 5px 0;
}


.primary-btn {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.primary-btn:hover {
    background-color: #45a049;
}

/* Icon buttons group */
.button-group {
    margin: 20px 0;
}

.icon-btn {
    background-color: gray;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    transition: transform 0.2s ease, background-color 0.3s ease;
}

.icon-btn:hover {
    transform: scale(1.1);
}

.rain {
    background-color: gray;
}

.cloud {
    background-color: blue;
}

.sun {
    background-color: yellow;
    color: black;
}

.sun:hover {
    background-color: orange;
    color: white;
}

