body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 12px;
}

#map {
    /* min-height: 100vh; */
    height: 100vh;
    width: 100%;
}

.leaflet-control-container {
    display: none !important;
    /* Hides the entire control container */
}

#directions {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    display: none;
    /* Hidden by default */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    width: 90%;
    /* Responsive width */
    max-width: 600px;
    /* Max width */
    z-index: 1000;
    /* Ensure it appears above the map */
}

#toggle-directions {
    position: fixed;
    bottom: 20px;
    left: 20px;
    background: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

#suggestions {
    border: 1px solid #ccc;
    background: white;
    position: absolute;
    z-index: 1000;
    max-height: 200px;
    overflow-y: auto;
    width: 250px;
    /* Match input width */
    border-radius: 15px;
    margin-top: 40px;
    right: 3px;
    padding: 5%;
}

#suggestions div {
    font-size: 65%;
    border-bottom: 1px solid #cccccc;
    margin-bottom: 5px;
    padding-bottom: 3%;
}

/* #suggestions div:hover {
    background: #f0f0f0;
} */

/* Thin scrollbar for WebKit browsers */
#suggestions::-webkit-scrollbar {
    width: 5px;
    /* Adjust width as needed */
}

#suggestions::-webkit-scrollbar-thumb {
    background-color: #888;
    /* Color of the scrollbar thumb */
    border-radius: 4px;
    /* Round edges */
}

#suggestions::-webkit-scrollbar-thumb:hover {
    background-color: #555;
    /* Darker color on hover */
}

#suggestions::-webkit-scrollbar-track {
    background: #f1f1f1;
    /* Background of the scrollbar track */
}

#searchContainer {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    padding: 10px;
    display: flex;
    gap: 10px;
    /* background-color: rgb(0, 0, 0, 0.4); */
    background-color: white;
    backdrop-filter: blur(5px);
    box-shadow: 0 2px 16px hsla(228, 95%, 4%, .1);
    padding: 0.5rem 0.7rem;
    border-radius: 15px;
}

#searchContainer input {
    border: none;
    padding-left: 10px;
    border-radius: 6px;
    background-color: transparent;
}

#searchContainer button {
    border: none;
    background-color: transparent;
}

#searchContainer button i {
    color: #aaa;
    /* color: white; */
}


#searchLocation {
    font-size: 70%;
}

input:focus {
    outline: none;
}

#routeSearchContainer {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 0.2fr 1fr;
    grid-template-rows: 0.5fr 1fr 1fr;
    gap: 10px;
    /* background-color: rgb(0, 0, 0, 0.4); */
    background-color: transparent;
    backdrop-filter: blur(20px);
    box-shadow: 0 2px 16px hsla(228, 95%, 4%, .1);
    padding: 0.5rem 0.7rem;
    border-radius: 15px;
    width: 90vw;
}

#closeRouteSearch {
    background-color: transparent;
    border: none;
    grid-column: 3;
    display: flex;
    justify-content: end;
}

#routeSearchContainer button {
    font-size: 70%;
}

#routeSearchContainer input {
    font-size: 70%;
    padding: 5px 10px 5px 10px;
    border: 1px solid #ccc;
    border-radius: 7px;
}

.routeContainer h2 {
    grid-row: 2;
    grid-column: span 3;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgb(0, 102, 255), rgb(2, 224, 240));
    color: transparent;
    background-clip: text;
    /* text-shadow: 1px 1px #3f5cff; */
}

#origin {
    grid-column: 1;
    grid-row: 3;
    height: 100%;
    width: 100%;
}

#destination {
    grid-column: 3;
    grid-row: 3;
    height: 100%;
    width: 100%;
}

.rightArrow {
    grid-row: 3;
    grid-column: 2;
    display: flex;
    justify-self: center;
    align-self: center;
    font-size: 60%;
    color: #666;
}

.routeBtn {
    grid-row: 4;
    grid-column: span 3;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 85%;
}

.routeBtn button i {
    font-size: 12px;
    margin-right: 5px;
    color: #666;
}

.routeBtn button {
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #fff;
    color: #666;
}

#toggleRouteSearch {
    position: absolute;
    z-index: 1000;
    top: 0;
}

#locate-btn {
    position: absolute;
    z-index: var(--z-fixed);
    /* bottom: 1.5rem; */
    backdrop-filter: blur(5px);
    box-shadow: 0 2px 16px hsla(228, 95%, 4%, .1);
    padding: 0.2rem 0.5rem;
    border-radius: 100px;
    background-color: rgba(255, 255, 255, 0.5);
    /* background-color: rgb(0, 0, 0, 0.4); */
    margin-inline: auto;
    height: 60px;
    width: 60px;
    bottom: 5.5rem;
    right: 7.5%;
    color: #666;
    border: none;
}

/* hotlines */
#popup {
    transition: opacity 0.3s ease;
    opacity: 0;
    position: fixed;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    background: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    display: none;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 600px;
    z-index: 1000;
}

#popup.show {
    opacity: 1;
}